.card {
    max-width: 404px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; 
    height: 265px;
}
#imageContainer{
    display: flex;
    margin-top: -590px;
    margin-left: 290px;
}
.card img {
    max-width: 100%;
    height: auto;
}
nav{
    height: 70px;
    background-color: white;
    border-bottom: 1px solid grey;
}
.navbar{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    margin-top: 10px;
}
.left{
    max-width: 300px;
    background-color: white;
}
.left img{
    display: block;
    padding-top: 30px;
    padding-left: 30px;
}
.sample{
    padding-bottom: 30px;
    margin-left: 30px;
    max-width: 150px;
    border-bottom: 2px solid grey;
}
.bottom{
    margin-top: 170px;
}
.home-section{
    max-width: 700px;
    display: flex;
    justify-content: space-between;
}
.right{ 
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
 .right img{
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .div{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
 }
 @media only screen  and (max-width: 600px){
    .navbar img{
        margin-left: 10px;
        margin-right: 10px;
    }
    #imageContainer{
       
        overflow: hidden;
        display: block;
        margin-top: -580px;
        margin-left: 200px;
    }
 }